PORT=8000
RABBITMQ_URL="amqp://user:password@localhost:5672"
EXCHANGE="orders.exchange"
EXCHANGE_TYPE="direct"
ROUTING_KEY="order.created"

QUEUE_EMAIL="email.queue"
QUEUE_PAYMENT="payment.queue"
QUEUE_SHIPPING="shipping.queue"