PORT=8000
RABBITMQ_URL="amqp://user:password@localhost:5672"
EXCHANGE="orders.exchange"
EXCHANGE_TYPE="direct"
QUEUE_EMAIL="email.queue"
ROUTING_KEY_EMAIL="order.created"
QUEUE_PAYMENT="payment.queue"
ROUTING_KEY_PAYMENT="order.created"
QUEUE_SHIPPING="shipping.queue"
ROUTING_KEY_SHIPPING="order.created"